body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #5F5980;
  color: #DFDFDF;
}

#quiz-container {
  width: 90%;
  max-width: 800px;
  background-color: #343434;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Estilos da tela de inserção de nome */
#start-screen {
  text-align: center;
}

#start-screen input[type="text"] {
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  background-color: #2F3061;
  color: #DFDFDF;
}

#start-screen button {
  background-color: #0E34A0;
  color: #DFDFDF;
  padding: 14px 28px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

#start-screen button:hover {
  background-color: #0B2B80;
}

/* Estilos da tela do quiz */
#question-container {
  text-align: center;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
}

#question-text {
  font-size: 2em;
  font-weight: bold;
  color: #DFDFDF;
}

#options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.option {
  background-color: #2F3061;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInUp 0.5s ease-in-out;
}

.option:hover {
  background-color: #353668;
}

#score-container {
  text-align: center;
  font-size: 1.4em;
  color: #DFDFDF;
}

/* Animações */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 767px) {
  #quiz-container {
      width: 95%;
      padding: 20px;
  }

  #options-container {
      grid-template-columns: 1fr;
  }

  .option {
      padding: 10px;
      font-size: 14px;
  }
  #explanationArea{
    font-size: 14px;
    padding: 0px;
  }
  #explanationArea h2{
    font-size: 15px;
  }
  #toggleExplanation{
    font-size: 13px;
    height: 35px;
    padding: 10px;
  }
  

}

@media (max-width: 480px) {
  #quiz-container {
      width: 100%;
      padding: 15px;
  }

  #question-text {
      font-size: 1.0em;
  }

  #explanationArea h2{
    font-size: 15px;
  }
  #explanationArea{
    font-size: 12px;
  }

  .option {
      padding: 12px;
      font-size: 14px
  }
  #toggleExplanation{
    font-size: 13px;
    height: 35px;
    padding: 5px;
  }



  #start-screen input[type="text"] {
      width: 90%;
  }
}

#explanationArea {
  border: 2px solid #2F3061; /* Cor da borda */
  padding: 20px;
  margin-top: 20px;
  color: #DFDFDF;
  background-color: #2F3061; /* Cor de fundo */
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out; /* Animação de fade-in */
}

#toggleExplanation {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #0E34A0;
  color: #DFDFDF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição de cor */
}

#toggleExplanation:hover {
  background-color: #0B2B80;
}
.correct-answer {
  border: 3px solid green; /* Adiciona uma borda verde */
}

